BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
TabIndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
IndentCaseLabels: false
Standard: Latest
Cpp11BracedListStyle: true
AllowShortIfStatementsOnASingleLine: false
NamespaceIndentation: All
PointerAlignment: Left

